<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
    <link rel ="stylesheet" href= "/css/detalle.css">
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <main>
        <!-- Detail of product -->
        <section class="product">
            <div class="product-main-img">
                <img src="<%= detProduct.main_image %>" alt="" width="350">
            </div>
            <div class="product-small-img">
                <img src="<%= detProduct.detail_image_1 %>" alt="" width="120">
                <img src="<%= detProduct.detail_image_2 %>" alt="" width="120">
                <img src="<%= detProduct.detail_image_3 %>" alt="" width="120">
            </div>

            <div class="product-content">
                <h3><%= detProduct.nombre_producto %></h3>
                <p><%= detProduct.description %></p>
                <span class="icon icon-star"></span>
                <h3>$ <%= detProduct.precio %></h3>
                <form>
                    <input type="number" id="cantidad" max="10" min="0" placeholder="Qty" />
                    <input type="submit" value="Agregar al carrito" />
                    <a href="/editproduct/ <%= detProduct.id %>" class="submit-button">Editar</a>
                </form>
            </div>
        </section>

    </main>


    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <!-- Colocacion de Scripts -->
    <script src="/js/menu_animation.js"></script>
</body>

</html>