<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
        <link href="/css/edit_product.css" rel="stylesheet">
        <title>Playland</title>
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
        <main class="edit">
            <form method="POST" action="/products/<%= auxProduct.id %>?_method=PUT">
                <h3>Detalle del Producto</h3>

                <label for="namePro">Nombre del producto</label>
                <input required type="text" name="namePro" id="namePro" value="<%= auxProduct.nombre_producto %> ">

                <label for="descripcionProducto">Descripción del producto</label>
                <input required type="text" name="descripcionProducto" id="descripcionProducto"
                    value="<%= auxProduct.description %> ">

                <label for="imagenPrincipal">Adjuntar imagen principal</label>
                <input type="file" name="imagenPrincipal" id="imagenPrincipal" accept=".jpeg,.jpg,.png" />

                <label for="imagenesComplementarias">Adjuntar imágenes complementarias </label>
                <input type="file" name="imagenPrincipal" accept=".jpeg,.jpg,.png" multiple
                    id="imagenesComplementarias" />

                <label class="categoria-label">Elegir categorías del producto</label>
                <div class="check-productos">
                    <% const lista_categorias=["Libros", "Películas" , "Series" , "Anime" ] %>
                    <% lista_categorias.forEach(categoria=> { %>
                        <% if(auxProduct.categoria.includes(categoria)) {%>
                            <input type="checkbox" name="categoriaProducto" checked="on" value="<%= categoria %>"
                                id="<% categoria.toLowerCase() %> ">
                            <label for="anime">
                                <%= categoria %>
                            </label><br>
                        <% } else {%>
                                <input type="checkbox" name="categoriaProducto" value="<%= categoria %>"
                                    id="<% categoria.toLowerCase() %> ">
                                <label for="anime">
                                    <%= categoria %>
                                </label><br>
                        <% } %>
                    <% }) %>
                </div>

                <label for="numeroJugadores" class="players-label">Número de jugadores</label>
                <input required type="number" name="numeroJugadores" id="numeroJugadores"
                    value="<%= auxProduct.players %>">

                <label for="precio">Precio</label>
                <input required type="text" name="precio" value="<%= auxProduct.precio %> " id="precio">

                <input type="submit" value="Subir" class="submit-button">
            </form>

            <form method="POST" action="/products/<%= auxProduct.id %>?_method=delete">                
                <td><input type="submit" value="Eliminar" class="submit-button"></td>                   
            </form>
        </main>

    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <!-- Colocacion de Scripts -->
    <script src="/js/menu_animation.js"></script>
</body>

</html>