<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
    <link href="/css/edit_product.css" rel="stylesheet">
    <title>Playland</title>
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>

    <main class="edit">

        <!-- Tabla de registro -->

        <form method="POST" action="/editproduct/<%= auxProduct.id %>?_method=PUT">
            <h3>Detalle del Producto</h3>
            <table>

                <tr>
                    <td>
                        <p>Nombre del producto</p><br>
                        <input required type="text" name="namePro" value="<%= auxProduct.nombre_producto %> ">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Descripción del producto</p><br>
                        <input required type="text" name="descripcionProducto" value="<%= auxProduct.description %> ">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Adjuntar imagen principal</p><br>
                        <input type="file" name="imagenPrincipal" accept=".jpeg,.jpg,.png" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Adjuntar imágenes complementarias </p><br>
                        <input type="file" name="imagenPrincipal" accept=".jpeg,.jpg,.png" multiple />
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Elegir categorías del producto</p><br>
                        <% const lista_categorias = ["Libros", "Películas", "Series", "Anime"] %> 
                        <% lista_categorias.forEach(categoria => {  %> 
                            <% if(auxProduct.categoria.includes(categoria)) {%>
                                <input type="checkbox" name="categoriaProducto" checked="on" value="<%= categoria %>" id="<% categoria.toLowerCase() %> ">
                                <label for="anime"><%= categoria %> </label><br>
                            <% } else {%>
                                <input type="checkbox" name="categoriaProducto"  value="<%= categoria %>" id="<% categoria.toLowerCase() %> ">
                                <label for="anime"><%= categoria %> </label><br>
                            <% } %>   
                        <% }) %> 
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Número de jugadores</p><br>
                        <input required type="number" name="numeroJugadores" value="<%= auxProduct.players %>">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Precio</p><br>
                        <input required type="text" name="precio" value="<%= auxProduct.precio %> ">
                    </td>
                </tr>

                <tr>
                    <td><input type="submit" value="Subir" class="submit-button"></td>
                </tr>
                
                <tr>
                    <td><a href="/editproduct/<%= auxProduct.id %>?_method=delete" class="submit-button">Eliminar</a></td>
                </tr>

            </table>
        </form>

        <form method="POST" action="/editproduct/<%= auxProduct.id %>?_method=delete">
            <table>
                <tr>
                    <td><input type="submit" value="Eliminar" class="submit-button"></td>
                </tr>
            </table>
        </form>
    </main>

    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <!-- Colocacion de Scripts -->
    <script src="/js/menu_animation.js"></script>
</body>

</html>